@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styled Scrollbar for the chat window */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #1f2937; /* gray-800 */
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4b5563; /* gray-600 */
    border-radius: 10px;
    border: 2px solid #1f2937;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #60a5fa; /* blue-400 */
}

body {
    @apply bg-gray-900;
    margin: 0;
    padding: 0;
}