@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar behavior for the chat window */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    @apply bg-gray-900 overflow-hidden;
}